
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap&family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap');
:root{
  --recipe-title_font: 'Pacifico', cursive;
  --recipe-base-font: 'M PLUS Rounded 1c', sans-serif;
  --brown-color:rgb(46, 44, 43);
  --aqua-color: #328e99;
  --recipe-item_bg: #f9f1e4;
}
.recipe-item{
  text-decoration: none;
  position: relative;
  width: 100%;
  &__wrapper{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px 1px rgba(21, 20, 19, 0.2);
    transition: opacity .3s linear,transform .3s linear;
    &:active{
      opacity: 0.5;
      transform: scale(0.9);
      background-color: var(--recipe-item_bg);
    }
    &:hover{
      box-shadow: 0px 0px 10px 5px rgba(21, 20, 19, 0.2);
      background-color: var(--recipe-item_bg);
    }
  }
  &__title{
    color: var(--brown-color);
    position: absolute;
    padding: 10px;
    min-width: 260px;
    z-index: 99;
    font-family: var(--recipe-title_font);
    font-weight: lighter;
    font-size: 1.6em;
  }
  &__img{
    width: 100%;
    height: auto;
    overflow: hidden;
    min-width: 300px;
    &-wrapper{
      width: 100%;
      height: 200px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
    }
  }
  &__info{
    padding: 10px 15px 15px 15px;
    color: var(--brown-color);
    font-family: var(--recipe-base-font);
  }
  &__details{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 600;
    color: #328e99
  }
  &__description{
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
  }
}


//