.create-recipe__button{
  margin: 50px 0px 30px 85%;
  width: 120px;
  padding: 14px 5px;
  font-size: 14px;
  font-family: var(--recipe-base-font);
  right: 0;
  background-color: var(--aqua-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}