.delete-recipe{
  &__container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -120px auto -30px auto
  }
  &__modal{
    background-color: var(--brown-color);
    width: 60%;
    padding: 40px 20px;
    border-radius: 1.5rem;

  }
  &__text{
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: var(--recipe-base-font);
  }
}

